<form method="post" action="{{ path('dos_delete', {'id': do.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ do.id) }}">
    <button class="btn">Delete</button>
</form>
